html {
    background: url(../images/qietu.png) repeat-x;
}
body {
    width: 100%;
    font-family: 'Microsoft Yahei', '微软雅黑', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /*color: #000;*/
    background: #fff url(../images/bgnewnew.png) no-repeat top center;
}

input,
button {
    border: none;
    outline: none
}

.grid {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden
}

.logo {
    width: 550px;
    margin-top: 15px
}

.search {
    position: absolute;
    right: 50%;
    margin-right: -515px;
    margin-top: -30px
}

.search input {
    width: 170px;
    height: 25px;
    padding-right: 42px;
    border-radius: 10px;
    text-indent: 1em;
    maxlength: 10;
}

.search input:focus {
    border-color: #00559d;
    -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.search .btn {
    width: 40px;
    height: 25px;
    border-radius: 10px;
    background-color: #00559d;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-left: -40px
}

.search .btn:hover {
    background: #07d
}

.navBar {
    border-bottom: 5px solid #00559D;
    margin-top: 8px
}

.navBar ul {
    display: block;
    margin: 0 auto;
    text-align: center
}

.navBar ul li {
    display: inline;
    float: left
}

.navBar ul li a {
    display: block;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 400px;
    color: #00559D;
    transition: all .5s
}

.navBar ul li a:hover {
    background-color: #00559d;
    color: #fff
}
/*内容部分*/
.content {
    margin-top: 15px
}

.flash img {
    width: 600px;
    height: 298px
}

.fazhi {
    width: 480px;
    height: 300px
}

.item h2 {
    font-size: 17px;
    font-family: "宋体";
    font-weight: bold;
    padding: 7px 20px;
    color: #fff;
    width: 480px;
    background: url(../images/navbar480.png)
}

.item >span {
    position: absolute;
    top: 6px;
    right: 8px
}

.item >span a,
.item h2 a {
    color: #fff
}

.item_ul {
    overflow: hidden;
    height: 265px;
    border: 1px solid #ccc;
    border-radius: 2px
}

.item_ul li {
    padding: 9px 15px;
    border-bottom: 1px dashed #ccc
}

.item_ul li a {
    color: #2b2b2b
}

.item_ul li a:hover {
    color: #00559D
}

.item_ul li span {
    height: 20px;
    line-height: 20px;
    font-family: "宋体";
    color: #666
}
/*第二行*/
.secondRow {
    margin-top: 20px
}

.item2 {
    width: 353px
}

.item2 h2 {
    width: 313px;
    background: url(../images/navbar353.png)
}

/*底部*/
.links{
	padding-top: 20px;
}
.links span{
	display: block;
	width: 120px;
	height: 22px;
	background: #007EB1;
	text-align: center;
	color: #fff;
}
.links ul{
	border-top: 2px solid #ccc;
	padding: 10px;
}
.links ul li{
	float: left;
}

.links ul li a{
	padding-right: 15px;
	color: #007EB1;
}
.links ul li a:hover{
	color: #005A86;
}
.footer{
	margin-top: 20px;
	margin-top: 20px;
	padding: 12px 0px;
	background: #007EB1;
	text-align: center;
	color: #fff;
	font-family: "宋体";
	font-size: 12px;
	word-spacing: 2px;
}
.footer p{
	margin:5px 0px;
}


















